<h1 class="heading1 d-flex align-items-center justify-content-center">Wszystkie wpisy:</h1>
<div class="container text-center" id="Blogi-Div" style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: space-around; gap: 20px;">
</div>
