<div class="container-fluid d-flex justify-content-center align-items-center" id="Title_container" loading="lazy">
    <div class="container-sm ">
        <h1 class="heading1 d-flex align-items-center justify-content-center">Witam! Nazywam się Norbert Tasarz</h1>
        <h1 class="heading2 d-flex align-items-center justify-content-center">Jestem inżynierem oprogramowania</h1>
        <h1 class="heading3 d-flex align-items-center justify-content-center">Zobacz moje zajebiste projekty</h1>
        <button type="button" class="btn btn-outline-light  btn-lg" href="" id="btn-scroll-proj">Moje Projekty</button>
        <h1 class="heading4 d-flex align-items-center justify-content-center">Dowiedz się o mnie więcej</h1>
        <a type="button" class="btn btn-outline-light  btn-lg" href="/About">O mnie</a>
    </div>
</div>

<div class="container-fluid">
    <h3 class="heading1 text-center" style="padding: 1%;" id="Kilka">Kilka moich projektów:</h3>
        <div class="container-fluid" id="Projects_container">
            <div class="masonry">
                <div class="Project-Container" id="Pathing_visualization">
                    <img src="../res/OpenGL_C_Raycasting_project_v10.gif" loading="lazy" class="card-img-bottom rounded" alt="" style="width: 100%; height: auto; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);"/>
                </div>
                <div class="Project-Container" id="HUGE-comeback-to-opengl">
                    <img src="../res/OpenGL_C_Raycasting_project_v10.gif" loading="lazy" class="card-img-bottom rounded" alt="" style="width: 100%; height: auto; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);"/>
                </div>
                <div class="Project-Container" id="All_Reader_backup">
                    <img src="../res/OpenGL_C_Raycasting_project_v10.gif" loading="lazy" class="card-img-bottom rounded" alt="" style="width: 100%; height: auto; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);"/>
                </div>
                <div class="Project-Container" id="TmpZdjęcie1">
                    <img src="../res/image-bg-main.jpg" loading="lazy" class="card-img-bottom rounded" alt="" style="width: 100%; height: auto; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);"/>
                </div>
                <div class="Project-Container" id="TmpZdjęcie2">
                    <img src="../res/image1.jpg" loading="lazy" class="card-img-bottom rounded" alt="" style="width: 100%; height: auto; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);"/>
                </div>
                <div class="Project-Container" id="Pathing_visualization2">
                    <img src="../res/OpenGL_C_Raycasting_project_v10.gif" loading="lazy" class="card-img-bottom rounded" alt="" style="width: 100%; height: auto; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);"/>
                </div>
                <div class="Project-Container" id="KwalifikacjeImporter">
                    <img src="../res/OpenGL_C_Raycasting_project_v10.gif" loading="lazy" class="card-img-bottom rounded" alt="" style="width: 100%; height: auto; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);"/>
                </div>
            </div>
        </div>
</div>
<div class="container-sm">
    <h1 class="heading1 d-flex align-items-center justify-content-center">Zobacz resztę moich projektów!</h1>
</div>
<a class="btn btn-outline-light btn-lg" href="/Projekty" role="button">Wszystkie projekty</a>
<div class="container-sm">
    <h1 class="heading1 d-flex align-items-center justify-content-center">Ostatnie wpisy na blogu</h1>
</div>

<div class="container-sm" style="padding: 1%;" id="Blog_container">
</div>

<h3 class="heading1 text-center">Wpisy na moim blogu</h3>
<a class="btn btn-outline-light btn-lg" href="/Blogi" role="button">Wszystkie wpisy</a>
<div class="container-sm " style="display: flex; flex-wrap: wrap; justify-content: space-evenly;" id="Blog_container"></div>
