<h1 class="heading1 text-center" style="padding: 1%;">
    Projekty na moim githubie:
</h1>
<div class="container text-center" id="Projekty-Div" style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: space-around; gap: 20px;">
</div>
<h1 class="heading1 text-center" style="padding: 1%;">
    Reszta projektów:
</h1>
