body,html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.example::-webkit-scrollbar {
    display: none
}

body,html {
    height: 100%;
    min-height: 100vh;
    font-family: "Raleway"
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px 4px #000
}

#content,#loading-screen {
    transition: opacity 1s ease-in-out
}

#loading-screen,body {
    background-color: #0b110c
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 9999;
    opacity: 1
}

#content {
    opacity: 0;
    height: 100%
}

#Title_container {
    color: #fff;
    font-weight: 200;
    height: 100vh;
    margin: 0 auto;
    background-color: #0b110c;
    background-image: url(../res/image-bg-main.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(80%);
    text-shadow: 2px 2px 4px #000;
    width: auto
}

.card-header {
    font-size: x-large;
    font-weight: 900
}

.card-body {
    padding: 0 0 16px
}

.heading1,.heading2 {
    color: #fff;
    font-weight: 400
}

.heading1 {
    text-shadow: 2px 2px 4px #000
}

.heading2 {
    font-size: x-large
}

.heading3,.heading4 {
    font-size: xx-large
}

.btn,.heading3,.heading4 {
    color: #fff;
    font-weight: 200
}

#Projects_container {
    min-height: 100vh;
    padding: 2vh
}

.card {
    word-break: normal;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: #0c3b33;
    box-shadow: 0 4px 15px rgba(0,0,0,.6);
    border-radius: 10px;
    padding: 20px;
    transition: transform 2s ease-in-out,box-shadow .5s ease-in-out;
    color: #e1ffe1
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,.8)
}

.social-link {
    font-size: medium;
    font-weight: 200;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit;
    margin: 5px 5px 10px
}

.social-link i {
    margin-right: 8px
}

.link a:hover,.navbar .link a:hover,.social-link:hover {
    color: #a8a8a8
}

.link,.link a {
    text-decoration: none;
    margin: 5px 0
}

.link {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit
}

.link a {
    font-size: medium
}

#Main_footer,#lower-footer {
    margin: 0 auto;
    padding: 1vh;
    display: block;
    box-sizing: border-box;
    font-size: 1.5rem;
    width: 80vw;
    clear: both
}

#Main_footer,.link a {
    color: #fff
}

#Main_footer {
    text-shadow: 2px 2px 4px #000;
    background-color: #0e0e0e;
    font-weight: 100
}

#lower-footer {
    background-color: #070707;
    color: gray;
    font-size: smaller;
    text-align: center
}

#blog_card {
    margin: 2vh
}

.card {
    max-width: 600px;
    width: 45%;
    margin: 1vh;
    flex-grow: 1
}

.Footer,.navbar {
    transition: top .5s ease-in-out,opacity .5s ease-in-out;
    opacity: 0
}

#NNT,.navbar,.navbar .link a {
    display: flex;
    align-items: center
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom,#212529 0,#0e0e0e 150%)
}

#NNT,.navbar .link a {
    justify-content: center
}

.navbar .link a {
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: inherit
}

.Footer {
    width: 100%
}

#NNT {
    width: 30%;
    text-shadow: 4px 4px 4px #000;
    color: #fff;
    font-weight: 800;
    font-size: 2rem
}

.Project-Container {
    flex: 1 1 calc(33.333% - .5vw);
    box-sizing: border-box;
    padding: 10px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    transition-delay: 125ms
}

.Project-Container img {
    box-shadow: 0 8px 25px rgba(0,0,0,.8)
}

.Project-Container:hover {
    transform: translateY(-5px)
}

.masonry {
    column-count: 3;
    column-gap: 1vw
}

@media (max-width:1050px) {
    .masonry {
        column-count: 2;
        column-gap: 1vw
    }
}

@media (max-width:850px) {
    #Main_footer {
        font-size: .5rem
    }
}

@media (max-width:700px) {
    .masonry {
        column-count: 1;
        column-gap: 1vw
    }
}

@media (max-width:600px) {
    .card,.col-4 {
        width: 100%
    }
}

.blogitem {
    display: inline-flex;
    align-items: center;
    padding: 2%;
    transition: background-color .2s ease-in-out,opacity .5s ease-in-out;
    border-radius: 10px;
    opacity: 0
}

.blogitem:hover {
    background-color: #0c3b33
}

#right_panel {
    position: fixed;
    right: 0;
    margin: 1%;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,.6);
    background-image: url(https://imgs.search.brave.com/fYFssHXXx7iT1nXUicvcVIVeMgeuvUkdbv8jAec1zBM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzEyLzI2LzYx/LzM2MF9GXzMxMjI2/NjE4OF9kQ0t1UkJ1/Yld1SlhCQlpCUG5u/ZGtOZUVERXpMeUpX/Uy5qcGc);
    background-size: cover;
    background-position-y: -120px
}

#right_panel h2 {
    padding: 10px
}
